# Ignore hidden files except the .gitignore and
# the GitHub-specific stuff
.*
!.gitignore
!.github

# Ignore binaries
bin/

# Ignore files named 'cmd' (i.e. the default output binary)
# but not the 'cmd/' directory.
cmd
!cmd/

# Ignore libbpf other eBPF deps and compiled objects
libbpf/
vmlinux.h
*.o

# Ignore backup files
*.bak

# Ignore logs generated with the likes of {l,s}trace
*.log

# Ignore build artifacts
*.gz
*.man
*.rpm

# Ignore files created at runtime
*.pid
