# Ignore hidden files except the .gitignore
.*
!.gitignore

# Ignore binaries
bin/

# Ignore files named 'cmd' (i.e. the default output binary)
# but not the 'cmd/' directory.
cmd
!cmd/

# Ignore libbpf other eBPF deps and compiled objects
libbpf/
vmlinux.h
*.o
