# Ignore hidden files except the .gitignore and
# the GitHub-specific stuff
.*
!.gitignore
!.github

# Ignore binaries
bin/

# Ignore files named 'cmd' (i.e. the default output binary)
# but not the 'cmd/' directory.
cmd
!cmd/

# Ignore libbpf other eBPF deps and compiled objects
libbpf/
vmlinux.h
*.o

# Ignore backup files
*.bak

# Ignore logs generated with the likes of {l,s}trace
*.log

# Ignore build artifacts
*.gz
*.man
*.rpm
*.1
commit

# Ignore files created at runtime
*.pid

# Ignore configurations commonly used when testing
confs/

# Ignore test binaries
test

# Ignore temporary stuff
*foo*
*tmp*
*fii*
*fee*

# Ignore artifacts generated when building RPMs
dist/
build/

# Ignore the dependency sources
vendor/

# Ignore clangd configuration files
compile_commands.json

# Ignore Python virtual environments
*env/

# Ignore JSON files by default
*.json

# Ignore generated plots and images
*.png
