# Be sure to check https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html!
[Unit]
Description=SciTags Glowd Service
Documentation=man:glowd(1) https://github.com/pcolladosoto/glowd
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/glowd --conf /etc/glowd/conf.json run
Restart=always

[Install]
WantedBy=multi-user.target
