---

########################################################################################################################
# For a syntax reference check https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions #
########################################################################################################################

# What should the action be called?
name: Test build

# We'll run tests whenever something's pushed
on: push

# Let's define what we want to do!
jobs:
    build:
        name: build
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/scitags/flowd-go:test-v2.1
            # credentials:
                # username: ${{ github.actor }}
                # password: ${{ secrets.SCITAGS_ORG_TOKEN }}
        steps:
            - name: Show environment information
              env:
                GITHUB_CONTEXT: ${{ toJson(github) }}
              shell: bash
              run: |
                echo "Environment:"
                env
                echo "The current directory is:"
                pwd
                echo "It's contents are:"
                ls -lh
                echo "Who are we?"
                id
                echo "GitHub's context"
                echo $GITHUB_CONTEXT

            - name: Clone the flowd-go repo
              shell: bash
              run: |
                git clone https://github.com/scitags/flowd-go.git flowd-go

            # If running on an untagged commit check whether we can build
            # the binary or not.
            - name: Check we can build the project
              shell: bash
              working-directory: ./flowd-go
              run: |
                make build
              if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
